#about-me {
    display: flex;
    padding: 3% 0% 3% 0%;
    justify-content: center;
    align-items: center;
    color: white;
}

#about-me h3 {
    padding-right:40px;
    font-size: 4em;
    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#about-me p {
    max-width: 40%;
    font-size: 1.3em;
    margin-left: 20px;
    border-left: 3px solid aqua;
    padding-left: 20px;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#about-me-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 20px;
    padding-top: 5%;
}

#about-me-wrapper img {
    width: 30%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid white;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

